<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Caterpillar</title>
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
        <!-- Include Socket.io client script -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- Include your WebInterface_Frontend.js file -->
        <script src="/public/Webinterface_Frontend.js"></script>
    </head>
    <body>
        <div class="flex justify-center items-center h-screen">
            <div class="bg-gray-200 p-4 rounded-lg">
                <h1 class="text-2xl font-bold">Socket.io Frontend</h1>
                <p id="message" class="text-lg">Waiting for message from server...</p>
            </div>
        </div>
    </body>
</html>
