<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Caterpillar</title>
        <link rel="icon" type="image/png" href="img/favicon.png" />
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
        <!-- Include Socket.io client script -->
        <script src="/socket.io/socket.io.js"></script>
        <!-- Include your WebInterface_Frontend.js file -->
        <script src="Webinterface_Frontend.js"></script>
    </head>
    <body>
        <div class="flex h-screen">
            <div id="sidebar" class="w-1/4 bg-gray-200 p-4 overflow-y-auto">
                <h1 class="text-2xl font-bold">Vehicle List</h1>
                <button
                    id="open-modal"
                    class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none"
                >
                    Open
                </button>
                <ul id="vehicle-list" class="mt-4"></ul>
            </div>
            <div id="map" class="w-3/4 h-full"></div>
        </div>
        <!-- Modal for vehicle details -->
        <div
            id="vehicle-modal"
            class="fixed inset-0 bg-gray-800 bg-opacity-75 flex items-center justify-center hidden"
        >
            <div class="bg-white p-4 rounded-lg w-1/2">
                <h2 id="vehicle-title" class="text-xl font-bold">Vehicle details</h2>
                <p id="vehicle-details">Some informations about the vehicle...</p>
                <div class="flex justify-end">
                    <button
                        id="close-modal"
                        class="mt-4 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none"
                    >
                        Close
                    </button>
                </div>
            </div>
        </div>
    </body>
</html>
